@import 'themes/apple.module';
@import 'themes/material.module';
@import './mixins';
#app {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  /* other styles */
  display: block!important;
}
html,
body {
  padding: 0;
  margin: 0;
  color: var(--tg-theme-text-color);
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
  -webkit-font-smoothing: antialiased;

  --secondary-bg-color-fallback: #efefef; // TODO Хак для клиента на Windows, в который пока не завезли secondary-bg-color. Выпилить, когда завезут

  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

html:not([lang='fa']) {
  direction: ltr;
}

html[lang='fa'] {
  direction: rtl;
}

a {
  color: var(--tg-theme-link-color);
  text-decoration: none;
}

svg {
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

input,
textarea,
[contenteditable] {
  user-select: initial;
  caret-color: var(--tg-theme-link-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:global(.container) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  min-height: var(--tg-viewport-stable-height);
  color: var(--tg-theme-text-color, black);
  word-wrap: break-word;
  font-family: "Roboto",sans-serif;
}

.container {
  isolation: isolate;

  &__apple {
    &.secondary {
      background: var(--tg-theme-secondary-bg-color);
    }

    &.primary {
      background: var(--tg-theme-bg-color);
    }

    &.skeleton {
      background: var(--quaternary-fill-background);
    }
  }

  &__material {
    background: var(--tg-theme-bg-color);
  }
  &__transparent{
    background: transparent;
  }
}

.separator {
  margin: 0;
  border: 0;

  &__apple {
    height: 24px;
  }

  &__material {
    height: 12px;
    background: var(
                    --tg-theme-secondary-bg-color,
                    var(--secondary-bg-color-fallback)
    );
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

b {
  color: var(--tg-theme-hint-color, black);
}
h3 {
  color: var(--tg-theme-text-color, black);
}
button {
  background-color: var(--tg-theme-button-color, #008CBA);
  border: 5px;
  color: var(--tg-theme-button-text-color, black);
  padding: 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
body{
  margin: 0;
  padding: 0;
}
